{% extends "servicos/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }} <link type="text/css" rel="stylesheet" media="screen" href="{%static "/servicos/css/servicos.css"%}" />{% endblock %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'servicos:index' %}">Costureiras WEB - Pesquisar {{name}}</a></h1>
{% endblock %}

{% block coltype %}colMS{% endblock %}

<!-- {% block bodyclass %}{{ block.super }} dashboard{% endblock %} -->

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="site">
<h2>Gerenciamento</h2>
<div id="content-main">
    <div id="conteudo-principal">
        <div id="content-main">
        <form type="post" action="/servicos/" style="margin: 0">
            <input  id="txt_pesquisa" type="text" name="txt_pesquisar"  placeholder="Pesquisar..." >
            <button id="search_submit" type="submit" >Submit</button>
        </form>

    <table>
    <tr>
    <td>
            <h3>Consultas</h3>
            <p>
            <form name="query" id="query" action="/servicos/" method="get">
                {% csrf_token %}
                <input type="radio" name="qry" value="costureira">Costureira <hr>
                <input type="radio" name="qry" value="itinerario">Itinerário <hr>
                <input type="radio" name="qry" value="tipo">Tipo de Serviço <hr>
                <input type="submit" value"selecionar" label="selecionar">
            </form>
    </td>
    <td>
            <h3>Relatórios</h3>
            <form name="report" action = "/servicos/reports" method="get">
                {% csrf_token %}
                <input type="radio" name="rep" value="costureira">Costureira <hr>
                <input type="radio" name="rep" value="itinerario">Itinerário <hr>
                <input type="radio" name="rep" value="tipo">Tipo de Serviço <hr>  
                <input type="submit" value"selecionar" label="selecionar">
            </form>
            </p>
    </td>
    </tr>
    </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
<img  src="{% static "servicos/img/costureira-servicos.jpg" %}"/>
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
</div>
<div id="site">
     <H2>Resultado</H2>
            {% if todos_servicos %}
            <ul>
            {% for servico in todos_servicos %}
            <li><a href="/servicos/detalhes">{{servico}} {{servico.nome}} {{servico.endereco}}</a></li>
            {% endfor %}
            </ul>
            {%else%}
            <p>nao foi localizado nenhum servico</p>
            {% endif %}
   
{% endblock %}
</div>

{% block nav-global %}{% endblock %}
    