{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }} <link type="text/css" rel="stylesheet" media="screen" href="{%static "/servicos/css/servicos.css"%}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="site">
    
    <H2>Resultado</H2>
    <div id="content-main">
        <form type="post" action="/servicos/pesquisar" style="margin: 0">
            <input  id="txt_pesquisa" type="text" name="txt_pesquisar"  placeholder="Pesquisar..." >
            <button id="search_submit" type="submit" >Submit</button>
        </form>

        <div id="conteudo-principal">
            {% if todos_servicos %}
            <ul>
            {% for servico in todos_servicos %}
            <li>{{servico}}</li>
            {% endfor %}
            </ul>
            {%else%}
            <p>nao foi localizado nenhum servico</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
